[submodule "Projects/aws_ether_rsk_rx65n/e2studio_ccrx/src/libraries/FreeRTOS-LTS"]
	path = Projects/aws_ether_rsk_rx65n/e2studio_ccrx/src/libraries/FreeRTOS-LTS
	url = https://github.com/FreeRTOS/FreeRTOS-LTS
[submodule "Projects/aws_ether_rsk_rx65n/e2studio_ccrx/src/libraries/3rdparty/mbedtls"]
	path = Projects/aws_ether_rsk_rx65n/e2studio_ccrx/src/libraries/3rdparty/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "Projects/aws_ether_rsk_rx65n/e2studio_ccrx/src/libraries/3rdparty/pkcs11"]
	path = Projects/aws_ether_rsk_rx65n/e2studio_ccrx/src/libraries/3rdparty/pkcs11
	url = https://github.com/amazon-freertos/pkcs11.git
